<div class="">
 <div class="row edit pr">
<div class="col-md-6">
  <form>
    <div class="form-group">
      <label for="Title">Title:</label>
      <input type="text" class="form-control" id="Title">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" required>
      </textarea>
    </div>
    <div>
      <label for="Tags">Tags:</label>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="Tags">
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success">Add Tag</button>
        </div>
      </div>
     
    </div>
    </form>
</div>
<div class="col-md-6">
      <div class="row">
         <img class="img-responsive" src="https://www.cleartrip.com/hotels/assets/default-img.jpg">
      </div>
<br>
<div class="row">
  <div class="col-md-6">
    <h5>Image:</h5>
  </div>
  <div class="col-md-6">
    <button type="submit" class="btn btn-success">Select Image</button>
  </div>
</div>
    </div>
 </div>
 
</div>
